.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
    color: black;
}
.blue{
    background-color: blue;
    color: aquamarine;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}